USE [master];
GO

IF EXISTS (SELECT name FROM sys.databases WHERE name = N'CSDLQuanAo')
BEGIN
    ALTER DATABASE [CSDLQuanAo] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [CSDLQuanAo];
END
GO

CREATE DATABASE [CSDLQuanAo];
GO

USE [CSDLQuanAo];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDLQuanAo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDLQuanAo]
GO
/****** Object:  User [abc]    Script Date: 5/21/2025 2:53:14 PM ******/
CREATE USER [abc] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[ShippingAddress] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductColors]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColors](
	[ColorId] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[IsMain] [bit] NULL,
	[AltText] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSizes]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSizes](
	[SizeId] [int] IDENTITY(1,1) NOT NULL,
	[NameSize] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[ProductVariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
	[SizeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductVariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/21/2025 2:53:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [nvarchar](25) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([CartId], [UserId], [ProductVariantId], [Quantity], [CreatedAt]) VALUES (1, 1, 1, 1, CAST(N'2025-05-09T04:40:30.123' AS DateTime))
INSERT [dbo].[Carts] ([CartId], [UserId], [ProductVariantId], [Quantity], [CreatedAt]) VALUES (29, 8, 381, 1, CAST(N'2025-05-10T21:50:29.573' AS DateTime))
INSERT [dbo].[Carts] ([CartId], [UserId], [ProductVariantId], [Quantity], [CreatedAt]) VALUES (31, 3, 196, 1, CAST(N'2025-05-13T23:45:22.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [Description]) VALUES (1, N'Áo Phông', N'Áo thun đơn giản, phù hợp mọi dịp')
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description]) VALUES (2, N'Áo Sơ Mi Dài Tay', N'Phong cách lịch sự, dùng đi làm, đi học')
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description]) VALUES (3, N'Áo Polo', N'Áo cổ bẻ, lịch sự nhưng vẫn năng động')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductVariantId], [Price], [Quantity]) VALUES (37, 12, 2552, CAST(120000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductVariantId], [Price], [Quantity]) VALUES (38, 12, 2606, CAST(159000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProductVariantId], [Price], [Quantity]) VALUES (39, 12, 2637, CAST(129000.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [TotalAmount], [ShippingAddress], [Status], [PaymentMethod]) VALUES (12, 3, CAST(N'2025-05-10T06:35:23.650' AS DateTime), CAST(537000.00 AS Decimal(18, 2)), N'88 Đường Lý Thường Kiệt, Phường Chính Gián, Quận Thanh Khê, Đà Nẵng', N'Đã giao', N'Chuyển khoản ngân hàng')
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [TotalAmount], [ShippingAddress], [Status], [PaymentMethod]) VALUES (13, 3, CAST(N'2025-05-10T06:35:40.303' AS DateTime), CAST(816000.00 AS Decimal(18, 2)), N'88 Đường Lý Thường Kiệt, Phường Chính Gián, Quận Thanh Khê, Đà Nẵng', N'Đã giao', N'Thanh toán khi nhận hàng')
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [TotalAmount], [ShippingAddress], [Status], [PaymentMethod]) VALUES (14, 3, CAST(N'2025-05-10T06:36:09.913' AS DateTime), CAST(1017000.00 AS Decimal(18, 2)), N'88 Đường Lý Thường Kiệt, Phường Chính Gián, Quận Thanh Khê, Đà Nẵng', N'Đã giao', N'Thanh toán khi nhận hàng')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductColors] ON 

INSERT [dbo].[ProductColors] ([ColorId], [ColorName]) VALUES (4, N'Be')
INSERT [dbo].[ProductColors] ([ColorId], [ColorName]) VALUES (1, N'Đen')
INSERT [dbo].[ProductColors] ([ColorId], [ColorName]) VALUES (6, N'Đỏ')
SET IDENTITY_INSERT [dbo].[ProductColors] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [IsMain], [AltText]) VALUES (1, 1, N'Áo Phông Basic APB.1101.jpg', 1, N'Ảnh chính sản phẩm')
INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [IsMain], [AltText]) VALUES (2, 2, N'Áo Phông Oversize APO.1102.jpg', 1, N'Ảnh chính sản phẩm')
INSERT [dbo].[ProductImages] ([ImageId], [ProductId], [ImageUrl], [IsMain], [AltText]) VALUES (3, 3, N'Áo Phông Basic APB.1103.jpg', 1, N'Ảnh chính sản phẩm')
GO
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price], [CategoryId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Áo Phông Basic APB.1101', N'Áo phông basic cho mọi dịp', CAST(79000.00 AS Decimal(18, 2)), 1, CAST(N'2025-04-21T15:27:26.123' AS DateTime), CAST(N'2025-04-21T15:27:26.123' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price], [CategoryId], [CreatedAt], [UpdatedAt]) VALUES (2, N'Áo Phông Oversize APO.1102', N'Áo phông oversize, thời trang', CAST(99000.00 AS Decimal(18, 2)), 1, CAST(N'2025-04-21T15:27:26.123' AS DateTime), CAST(N'2025-04-21T15:27:26.123' AS DateTime))
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Price], [CategoryId], [CreatedAt], [UpdatedAt]) VALUES (3, N'Áo Phông Basic APB.1103', N'Áo phông đơn giản, dễ mặc', CAST(79000.00 AS Decimal(18, 2)), 1, CAST(N'2025-04-21T15:27:26.123' AS DateTime), CAST(N'2025-04-21T15:27:26.123' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSizes] ON 

INSERT [dbo].[ProductSizes] ([SizeId], [NameSize]) VALUES (7, N'28')
INSERT [dbo].[ProductSizes] ([SizeId], [NameSize]) VALUES (8, N'29')
INSERT [dbo].[ProductSizes] ([SizeId], [NameSize]) VALUES (9, N'30')
SET IDENTITY_INSERT [dbo].[ProductSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([ProductVariantId], [ProductId], [ColorId], [SizeId], [Quantity]) VALUES (1, 1, 2, 1, 16)
INSERT [dbo].[ProductVariants] ([ProductVariantId], [ProductId], [ColorId], [SizeId], [Quantity]) VALUES (2, 1, 2, 2, 20)
INSERT [dbo].[ProductVariants] ([ProductVariantId], [ProductId], [ColorId], [SizeId], [Quantity]) VALUES (3, 1, 2, 3, 18)
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [FullName], [Email], [PhoneNumber], [Address], [Role], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin1', N'admin1890', N'Nguyễn Văn Trường', N'truong.nguyen@gmail.com', N'0838640075', N'123 Đường Lê Lợi, Phường Bến Thành, Quận 1, TP.Hồ Chí Minh', N'Admin', CAST(N'2025-04-19T23:35:58.000' AS DateTime), CAST(N'2025-05-12T03:33:40.880' AS DateTime))
INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [FullName], [Email], [PhoneNumber], [Address], [Role], [CreatedAt], [UpdatedAt]) VALUES (2, N'admin2', N'admin2025', N'Nguyễn Quỳnh Hương', N'huong.nguyen@gmail.com', N'0912345678', N'45 Đường Hai Bà Trưng, Phường Tràng Tiền, Quận Hoàn Kiếm, Hà Nội', N'Admin', CAST(N'2025-04-19T23:35:58.000' AS DateTime), CAST(N'2025-04-19T23:35:58.000' AS DateTime))
INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [FullName], [Email], [PhoneNumber], [Address], [Role], [CreatedAt], [UpdatedAt]) VALUES (3, N'truongnguyen', N'truong2003', N'Nguyễn Văn Trường', N'truong11082003@gmail.com', N'0838640075', N'88 Đường Lý Thường Kiệt, Phường Chính Gián, Quận Thanh Khê, Đà Nẵng', N'User', CAST(N'2025-04-19T23:35:58.953' AS DateTime), CAST(N'2025-04-19T23:35:58.953' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__737584F642846513]    Script Date: 5/21/2025 2:53:15 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductC__C71A5A7B2C943A24]    Script Date: 5/21/2025 2:53:15 PM ******/
ALTER TABLE [dbo].[ProductColors] ADD UNIQUE NONCLUSTERED 
(
	[ColorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductS__252E961685276752]    Script Date: 5/21/2025 2:53:15 PM ******/
ALTER TABLE [dbo].[ProductSizes] ADD UNIQUE NONCLUSTERED 
(
	[NameSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534102541C3]    Script Date: 5/21/2025 2:53:15 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F2845638D78918]    Script Date: 5/21/2025 2:53:15 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariants] ([ProductVariantId])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariants] ([ProductVariantId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([ColorId])
REFERENCES [dbo].[ProductColors] ([ColorId])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([SizeId])
REFERENCES [dbo].[ProductSizes] ([SizeId])
GO
USE [master]
GO
